---
import Layout from '../../../../layouts/Layout.astro';
---
<style>
  body {
    margin: 0;
  }
</style>
<Layout title="Lazyloading Banner">
  <style>
    .lazyloading-banner,
    .lazyloading-banner * {
      box-sizing: border-box;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      text-align: center;
      color: #000;
    }
    .lazyloading-banner img {
      max-width: 100%;
    }
    .lazyloading-banner .d-flex {
      display: flex;
    }
    .lazyloading-banner .position-relative {
      position: relative;
    }
    .lazyloading-banner .hidden {
      display: none;
    }
    .lazyloading-banner .container {
      flex-direction: column;
      position: relative;
    }
    .lazyloading-banner .left-side,
    .lazyloading-banner .right-side {
      width: 100%;
    }
    .lazyloading-banner .content {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 1rem 15px;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .lazyloading-banner .headline {
      font-size: 30px;
      font-size: clamp(30px, 4vw, 48px);
      line-height: 1;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .lazyloading-banner .copy {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 14px;
      font-size: clamp(14px, 2vw, 1rem);
    }
    .lazyloading-banner .call-to-action {
      color: #fff;
      padding: 0.5rem 1.25rem;
      background: #000;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #000;
      transition: all 270ms;
    }
    .lazyloading-banner .call-to-action:-webkit-any-link {
      color: #fff;
      background: #000;
      text-decoration: none;
      border: 1px solid #000;
    }
    .lazyloading-banner .call-to-action:active,
    .lazyloading-banner .call-to-action:hover {
      background: transparent;
      border: 1px solid #000;
      color: #000;
    }
    .lazyloading-banner .call-to-action:active:-webkit-any-link,
    .lazyloading-banner .call-to-action:hover:-webkit-any-link {
      background: transparent;
      border: 1px solid #000;
      color: #000;
    }
    @media screen and (min-width: 768px) {
      .lazyloading-banner .call-to-action {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:-webkit-any-link {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:active,
      .lazyloading-banner .call-to-action:hover {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:active:-webkit-any-link,
      .lazyloading-banner .call-to-action:hover:-webkit-any-link {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazyloading-banner,
      .lazyloading-banner * {
        color: #fff;
      }
      .lazyloading-banner .container {
        flex-direction: row;
      }
      .lazyloading-banner .left-side,
      .lazyloading-banner .right-side {
        width: 50%;
      }
    }

    .lazyloading-banner .blur img {
      filter: blur(4px);
      transform: scale(1.025);
      transition: filter 200ms ease-out;
    }

    .lazyloading-banner .no-blur img {
      filter: blur(0);
      transform: scale(1);
    }

    .lazyloading-banner .overflow-hidden {
      overflow: hidden;
    }

    .lazyloading-banner #play-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 99;
      display: flex;
      background: transparent;
      border: none;
      padding: 0.5rem;
      cursor: pointer;
    }

    .lazyloading-banner #play-btn span {
      background: hsla(0, 0%, 0%, 30%);
      color: #fff;
      padding: 8px 4px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }

    .lazyloading-banner #play-btn:hover span,
    .lazyloading-banner #play-btn:active span {
      background: hsla(0, 0%, 0%, 50%);
    }

    .lazyloading-banner #play-btn:focus span {
      outline: none;
      box-shadow: 0 0 0 2px hsl(0deg 0% 0% / 30%), 0 0 3px 5px #85c1ff;
    }
  </style>
  <article class="lazyloading-banner">
    <div class="container d-flex position-relative">
      <div class="overflow-hidden left-side position-relative d-flex" style="min-height: 275px">
        <button id="play-btn">
          <span>&#9654;</span>
        </button>
        <a class="" aria-label="" href="#" style="line-height: 0; width: 100%">
          <picture class="blur lozad-2024-04-14-load slide slide--first" style="min-height: 275px">
            <source
              data-srcset="/assets/images/banner/Frame_1_D.jpg"
              media="(min-width: 768px)"
            />
            <source
              data-srcset="/assets/images/banner/Frame_1_M.jpg"
              media="(max-width: 767px)"
            />
            <img
              class="lozad-2024-04-14-load"
              src="/assets/images/banner/Frame_1_M_Placeholder_MIN.jpg"  
              data-src="/assets/images/banner/Frame_1_M.jpg"      
              alt="Your alt text"
              height="275"
              width="100%"
              style="height: auto"
            />
            <noscript>
              <img
                src="/assets/images/banner/Frame_1_M.jpg"
                width="100%"
                height="275"
                style="height: auto"
                loading="lazy"
                alt=""
              />
            </noscript>
          </picture>
          <picture class="slide hidden" style="min-height: 376px">
            <source
              srcset="/assets/images/banner/Frame_2_D.jpg"
              media="(min-width: 768px)"
            />
            <img
              src="/assets/images/banner/Frame_2_M.jpg"
              width="100%"
              height="275"
              style="height: auto"
              alt=""
            />
          </picture>
          <picture class="slide hidden" style="min-height: 275px">
            <source
              srcset="/assets/images/banner/Frame_3_D.jpg"
              media="(min-width: 768px)"
            />
            <img
              src="/assets/images/banner/Frame_3_M.jpg"
              width="100%"
              height="275"
              style="height: auto"
              alt=""
            />
          </picture>
          <picture class="slide hidden" style="min-height: 275px">
            <source
              srcset="/assets/images/banner/Frame_4_D.jpg"
              media="(min-width: 768px)"
            />
            <img
              src="/assets/images/banner/Frame_4_M.jpg"
              width="100%"
              height="275"
              style="height: auto"
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="right-side position-relative overflow-hidden" style="min-height: 275px">
        <picture class="blur lozad-2024-04-14-load" style="min-height: 275px">
          <source
            data-srcset="/assets/images/banner/Frame_Background_D.jpg"
            media="(min-width: 768px)"
          />
          <source
            data-srcset="/assets/images/banner/Frame_Background_M.jpg"
            media="(max-width: 767px)"
          />
          <img
            class="lozad-2024-04-14-load"
            src="/assets/images/banner/Frame_Background_M_Placeholder_MIN.jpg"
            data-src="/assets/images/banner/Frame_Background_M.jpg"
            alt=""
            width="100%"
            height="275"
            style="height: auto"
          />
          <noscript>
            <img
              src="/assets/images/banner/Frame_Background_M.jpg"
              alt=""
              width="100%"
              height="275"
              loading="lazy"
              style="height: auto"
            />
          </noscript>
        </picture>
        <div class="content d-flex">
          <h2 class="headline">
            <a href="#" aria-label="" style="text-decoration: none">
              Be your<br />best self.
            </a>
          </h2>
          <p class="copy">
            Dive in and see our collections<br />
            and pick up your faves from our lineups.
          </p>
          <a class="call-to-action" href="#" aria-label="">
            SHOP NOW
          </a>
        </div>
      </div>
    </div>
  </article>
  <script type="text/javascript" src="/assets/lib/lozad.min.js"></script>
  <script type="text/javascript" src="/assets/js/custom-slider-with-stop.js"></script>
  <script type="text/javascript">
    (function () {
      var slider = new customSlider({
        targetClassName: ".lazyloading-banner .slide",
      });

      var state = {
        observerFinished: false,
        sliderPause: false,
        addedListener: false,
      };

      const _lozad = lozad('.lozad-2024-04-14-load', {
        load: function(el) {
          if (el.nodeName === 'IMG') {
            const sourceElements = el.parentNode.querySelectorAll('source');

            sourceElements.forEach(source => {
              source.srcset = source.dataset.srcset;
            });
            el.src = el.dataset.src;
          }
          el.onload = function() {
            el.parentNode.classList.add('no-blur');

            if (el.parentNode.classList.contains('slide--first') && !state.observerFinished) {
                slider.start();
                _lozad.observer.disconnect();
                state.observerFinished = true;
            }
          }
        }
      });

      var playAndPause = function() {
        if (state.sliderPaused) {
          slider.start();
          this.querySelector("span").innerHTML = '&#9654;';
        } else {
          slider.stop();
          this.querySelector("span").innerHTML = "&#9208;";
        }
        state.sliderPaused = !state.sliderPaused;
      };

      function initPlayButton() {
        var toggleButton = document.getElementById('play-btn');
        if (!state.addedListener) {
          toggleButton.addEventListener('click', playAndPause);
          state.addedListener = true;
        }
      }

      function initBanner() {
        if (!state.observerFinished) {
          _lozad.observe();
        }
        initPlayButton();
      }

      if (
        document.readyState === "complete" ||
        document.readyState === "interactive"
      ) {
        initBanner();
        return null;
      }
      document.addEventListener("DOMContentLoaded", initBanner);
    })();
  </script>
</Layout>

