<style>
#cosmetic-subject-2024-03-17-US {
  box-sizing: border-box;
  color: #fff;
 background-image: url("https://images.unsplash.com/flagged/photo-1593005510509-d05b264f1c9c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
 padding: 1rem 15px;
}

#cosmetic-subject-2024-03-17-US * {
  box-sizing: border-box;
}

#cosmetic-subject-2024-03-17-US .embla {
  display: flex;
  align-items: center;
  max-width: 1020px;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}
#cosmetic-subject-2024-03-17-US .embla__viewport {
  overflow: hidden;
}
#cosmetic-subject-2024-03-17-US .embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 750px) {
  #cosmetic-subject-2024-03-17-US .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  #cosmetic-subject-2024-03-17-US .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
#cosmetic-subject-2024-03-17-US .embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 750px) {
  #cosmetic-subject-2024-03-17-US .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  #cosmetic-subject-2024-03-17-US .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
#cosmetic-subject-2024-03-17-US .embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
#cosmetic-subject-2024-03-17-US .embla__button:disabled {
  color: var(--detail-high-contrast);
}
#cosmetic-subject-2024-03-17-US .embla__button__svg {
  width: 35%;
  height: 35%;
}

#cosmetic-subject-2024-03-17-US .product-card {
  display: flex;
  flex-direction: column;
   max-width: 285px;
   margin: auto;
}

#cosmetic-subject-2024-03-17-US .product-image {
}

#cosmetic-subject-2024-03-17-US .product-cta {
  display: inline-block;
  margin: auto;
  background: #fff;
  border: 1px solid #fff;
  padding: 0.75rem 1.5rem;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
</style>
<article id="cosmetic-subject-2024-03-17-US">
  <h2 style="text-align: center">The Bestest Sandwich Lineup Ever</h2>
  <p style="text-align: center;">
    Four more essentials for serious BELLIES!
  </p>
  <div class="embla">
    <button class="embla__button embla__button--prev" type="button">
      <svg class="embla__button__svg" viewBox="0 0 532 532">
        <path
          fill="currentColor"
          d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
        ></path>
      </svg>
    </button>
    <div class="embla__viewport">
      <div class="embla__container">
        <div class="embla__slide">
          <article class="product-card">
            <img class="product-image" src="https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNxdWFyZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
            <p style="text-align: center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua with <strong>Eggs on Bread, $1</strong>.
            </p>
            <a class="product-cta" href="/">SHOP NOW</a>
          </article>
        </div>
        <div class="embla__slide">
          <article class="product-card">
            <img class="product-image" src="https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNxdWFyZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
            <p style="text-align: center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua with <strong>Eggs on Bread, $2</strong>.
            </p>
            <a class="product-cta" href="/">SHOP NOW</a>
          </article>
        </div>
        <div class="embla__slide">
          <article class="product-card">
            <img class="product-image" src="https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNxdWFyZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
            <p style="text-align: center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua with <strong>Eggs on Bread, $3</strong>.
            </p>
            <a class="product-cta" href="/">SHOP NOW</a>
          </article>
        </div>
        <div class="embla__slide">
          <article class="product-card">
            <img class="product-image" src="https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNxdWFyZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
            <p style="text-align: center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua with <strong>Eggs on Bread, $4</strong>.
            </p>
            <a class="product-cta" href="/">SHOP NOW</a>
          </article>
        </div>
      </div>
    </div>
    <button class="embla__button embla__button--next" type="button">
      <svg class="embla__button__svg" viewBox="0 0 532 532">
        <path
          fill="currentColor"
          d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
        ></path>
      </svg>
    </button>
  </div>
</article>
<script type="text/javascript" src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script type="text/javascript">
(function () {
  const addTogglePrevNextBtnsActive = (emblaApi, prevBtn, nextBtn) => {
    const togglePrevNextBtnsState = () => {
      if (emblaApi.canScrollPrev()) prevBtn.removeAttribute('disabled')
      else prevBtn.setAttribute('disabled', 'disabled')

      if (emblaApi.canScrollNext()) nextBtn.removeAttribute('disabled')
      else nextBtn.setAttribute('disabled', 'disabled')
    }

    emblaApi
      .on('select', togglePrevNextBtnsState)
      .on('init', togglePrevNextBtnsState)
      .on('reInit', togglePrevNextBtnsState)

    return () => {
      prevBtn.removeAttribute('disabled')
      nextBtn.removeAttribute('disabled')
    }
  }

  const addPrevNextBtnsClickHandlers = (emblaApi, prevBtn, nextBtn) => {
    const scrollPrev = () => {
      emblaApi.scrollPrev()
    }
    const scrollNext = () => {
      emblaApi.scrollNext()
    }
    prevBtn.addEventListener('click', scrollPrev, false)
    nextBtn.addEventListener('click', scrollNext, false)

    const removeTogglePrevNextBtnsActive = addTogglePrevNextBtnsActive(
      emblaApi,
      prevBtn,
      nextBtn
    )

    return () => {
      removeTogglePrevNextBtnsActive()
      prevBtn.removeEventListener('click', scrollPrev, false)
      nextBtn.removeEventListener('click', scrollNext, false)
    }
  }
  
  if (document.readyState === "complete" || document.readyState === "loading") {
    const emblaNode = document.querySelector(".embla");
    const viewportNode = emblaNode.querySelector('.embla__viewport')
    const prevBtnNode = emblaNode.querySelector('.embla__button--prev')
    const nextBtnNode = emblaNode.querySelector('.embla__button--next')
    const emblaApi = EmblaCarousel(viewportNode, { loop: false, align: "start" });

    const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(
    emblaApi,
    prevBtnNode,
    nextBtnNode
  )

  emblaApi.on('destroy', removePrevNextBtnsClickHandlers)
  emblaApi.on('destroy', removeDotBtnsAndClickHandlers)

    console.log(emblaApi.slideNodes());
  }
})();
</script>
