---
import Layout from '../layouts/Layout.astro';
---
<style>
  body {
    margin: 0;
  }
</style>
<Layout title="Lazyloading Banner">
  <style>
    .lazyloading-banner,
    .lazyloading-banner * {
      box-sizing: border-box;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      text-align: center;
      color: #000;
    }
    .lazyloading-banner img {
      max-width: 100%;
    }
    .lazyloading-banner .d-flex {
      display: flex;
    }
    .lazyloading-banner .position-relative {
      position: relative;
    }
    .lazyloading-banner .hidden {
      display: none;
    }
    .lazyloading-banner .container {
      flex-direction: column;
      position: relative;
    }
    .lazyloading-banner .left-side,
    .lazyloading-banner .right-side {
      width: 100%;
    }
    .lazyloading-banner .content {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 1rem 15px;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .lazyloading-banner .headline {
      font-size: 30px;
      font-size: clamp(30px, 4vw, 48px);
      line-height: 1;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .lazyloading-banner .copy {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 14px;
      font-size: clamp(14px, 2vw, 1rem);
    }
    .lazyloading-banner .call-to-action {
      color: #fff;
      padding: 0.5rem 1.25rem;
      background: #000;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #000;
      transition: all 270ms;
    }
    .lazyloading-banner .call-to-action:-webkit-any-link {
      color: #fff;
      background: #000;
      text-decoration: none;
      border: 1px solid #000;
    }
    .lazyloading-banner .call-to-action:active,
    .lazyloading-banner .call-to-action:hover {
      background: transparent;
      border: 1px solid #000;
      color: #000;
    }
    .lazyloading-banner .call-to-action:active:-webkit-any-link,
    .lazyloading-banner .call-to-action:hover:-webkit-any-link {
      background: transparent;
      border: 1px solid #000;
      color: #000;
    }
    @media screen and (min-width: 768px) {
      .lazyloading-banner .call-to-action {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:-webkit-any-link {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:active,
      .lazyloading-banner .call-to-action:hover {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:active:-webkit-any-link,
      .lazyloading-banner .call-to-action:hover:-webkit-any-link {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazyloading-banner,
      .lazyloading-banner * {
        color: #fff;
      }
      .lazyloading-banner .container {
        flex-direction: row;
      }
      .lazyloading-banner .left-side,
      .lazyloading-banner .right-side {
        width: 50%;
      }
    }

    .lazyloading-banner .overflow-hidden {
      overflow: hidden;
    }
  </style>
  <article class="lazyloading-banner">
    <div class="container d-flex position-relative">
        <a class="overflow-hidden left-side position-relative" aria-label="" href="/lazyload-banner" style="line-height: 0">
          <picture class="slide slide--first">
            <source
              srcset="assets/images/banner/Frame_1_D.jpg"
              media="(min-width: 768px)"
            />
            <img
              src="assets/images/banner/Frame_1_M.jpg"  
              alt="Your alt text"
              loading="lazy"
              class=""
            />
          </picture>
          <picture class="slide hidden">
            <source
              srcset="assets/images/banner/Frame_2_D.jpg"
              media="(min-width: 768px)"
            />
            <img
              src="assets/images/banner/Frame_2_M.jpg"
              loading="lazy"
              alt=""
            />
          </picture>
          <picture class="slide hidden">
            <source
              srcset="assets/images/banner/Frame_3_D.jpg"
              media="(min-width: 768px)"
            />
            <img
              src="assets/images/banner/Frame_3_M.jpg"
              loading="lazy"
              alt=""
            />
          </picture>
          <picture class="slide hidden">
            <source
              srcset="assets/images/banner/Frame_4_D.jpg"
              media="(min-width: 768px)"
            />
            <img
              src="assets/images/banner/Frame_4_M.jpg"
              loading="lazy"
              alt=""
            />
          </picture>
        </a>
      <div class="right-side position-relative overflow-hidden">
        <picture class="">
          <source
            srcset="assets/images/banner/Frame_Background_D.jpg"
            media="(min-width: 768px)"
          />
          <img
            src="assets/images/banner/Frame_Background_M.jpg"
            alt=""
            loading="lazy"
          />
        </picture>
        <div class="content d-flex">
          <h2 class="headline">
            <a href="/lazyload-banner" aria-label="" style="text-decoration: none">
              Be your<br />best self.
            </a>
          </h2>
          <p class="copy">
            Dive in and see our collections<br />
            and pick up your faves from our lineups.
          </p>
          <a class="call-to-action" href="/lazyload-banner" aria-label="">
            SHOP NOW
          </a>
        </div>
      </div>
    </div>
  </article>
  <script type="text/javascript" src="assets/js/custom-slider.min.js"></script>
  <script type="text/javascript">
    (function () {
      var slider = new customSlider({
        targetClassName: ".lazyloading-banner .slide",
      });
    
      if (
        document.readyState === "complete" ||
        document.readyState === "interactive"
      ) {
        slider.start();
        return null;
      }
      document.addEventListener("DOMContentLoaded", function () {
        slider.start();
      });
    })();
  </script>
</Layout>

