---
import Layout from "../../layouts/Layout.astro";
---

<style>
  body {
    margin: 0;
  }
</style>
<Layout title="Lazyloading Side by Side">
  <style>
    .lazy-side-by-side,
    .lazy-side-by-side * {
      box-sizing: border-box;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      text-align: center;
      color: #000;
    }
    .lazy-side-by-side img {
      width: 100%;
    }
    .lazy-side-by-side .d-flex {
      display: flex;
    }
    .lazy-side-by-side .position-relative {
      position: relative;
    }
    .lazy-side-by-side .position-absolute {
      position: absolute;
    }
    .lazy-side-by-side .hidden {
      display: none;
    }
    .lazy-side-by-side .container {
      flex-direction: column;
      position: relative;
    }
    .lazy-side-by-side .left-side,
    .lazy-side-by-side .right-side {
      width: 100%;
    }
    .lazy-side-by-side .content {
      top: 0;
      width: 100%;
      padding: 1rem 15px;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .lazy-side-by-side .headline {
      font-size: 30px;
      font-size: clamp(30px, 4vw, 48px);
      line-height: 1;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    .lazy-side-by-side .copy {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 14px;
      font-size: clamp(14px, 2vw, 1rem);
    }
    .lazy-side-by-side .call-to-action {
      color: #fff;
      padding: 0.5rem 1.25rem;
      background: #000;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #000;
      transition: all 270ms;
    }
    .lazy-side-by-side .call-to-action:-webkit-any-link {
      color: #fff;
      background: #000;
      text-decoration: none;
      border: 1px solid #000;
    }
    .lazy-side-by-side .call-to-action:active,
    .lazy-side-by-side .call-to-action:hover {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
    .lazy-side-by-side .call-to-action:active:-webkit-any-link,
    .lazy-side-by-side .call-to-action:hover:-webkit-any-link {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
    @media screen and (min-width: 768px) {
      .lazy-side-by-side .call-to-action {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazy-side-by-side .call-to-action:-webkit-any-link {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazy-side-by-side .call-to-action:active,
      .lazy-side-by-side .call-to-action:hover {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazy-side-by-side .call-to-action:active:-webkit-any-link,
      .lazy-side-by-side .call-to-action:hover:-webkit-any-link {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazy-side-by-side,
      .lazy-side-by-side * {
        color: #fff;
      }
      .lazy-side-by-side .container {
        flex-direction: row;
      }
      .lazy-side-by-side .left-side,
      .lazy-side-by-side .right-side {
        width: 50%;
      }
    }

    .lazy-side-by-side .blur img {
      filter: blur(4px);
      transform: scale(1.025);
      transition: filter 200ms ease-out;
    }

    .lazy-side-by-side .no-blur img {
      filter: blur(0);
      transform: scale(1);
    }

    .lazy-side-by-side .overflow-hidden {
      overflow: hidden;
    }

    .lazy-side-by-side #play-btn {
      border: none;
      background: transparent;
      outline: none;
      padding: 0.5rem;
      cursor: pointer;
    }

    .lazy-side-by-side #play-btn:focus,
    .lazy-side-by-side #play-btn:active {
      outline: none;
      box-shadow: none;
    }

    .lazy-side-by-side #play-btn span {
      background: #dbdbdb;
      border: 1px solid #dbdbdb;
      color: #0f0f0f;
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .lazy-side-by-side #play-btn:hover span,
    .lazy-side-by-side #play-btn:active span {
      border-color: red;
    }

    .lazy-side-by-side #play-btn:focus span {
      box-shadow: none;
      outline: #639af9 inset 3px;
      outline-offset: 3px;
    }

    .lazy-side-by-side .controls {
      display: none;
    }
    article[data-enable-accessibility="true"].lazy-side-by-side .controls {
      display: block;
    }

    .lazy-side-by-side .slide-btn {
      height: 30px;
      width: 30px;
      background-color: #101010;
      color: #fff;
      border: 1px solid #101010;
      font-size: 1rem;
    }

    .lazy-side-by-side .slide-btn:focus-visible,
    .lazy-side-by-side #next-btn:focus-visible,
    .lazy-side-by-side #prev-btn:focus-visible {
      box-shadow: none;
      outline: #639af9 inset 3px;
      outline-offset: 3px;
    }

    .lazy-side-by-side .slide-btn:hover,
    .lazy-side-by-side .slide-btn:active {
      border: 1px solid red;
    }
    .lazy-side-by-side .slide-btn.active {
      background: white;
      color: #000;
      border: 1px solid #fff;
    }
    .lazy-side-by-side .caret {
      border: solid #fff;
      border-width: 0 2px 2px 0;
      bottom: 0;
      display: inline-block;
      height: 10px;
      margin: auto;
      padding: 3px;
      top: 0;
      width: 10px;
    }
    .lazy-side-by-side .caret.caret--right {
      transform: rotate(315deg);
      right: 26px;
    }
    .lazy-side-by-side .caret.caret--left {
      transform: rotate(135deg);
      left: 26px;
    }
    .lazy-side-by-side #next-btn,
    .lazy-side-by-side #prev-btn {
      width: 27px;
      height: 60px;
      border: 1px solid #000;
      background-color: #000;
    }
    .lazy-side-by-side #next-btn:hover,
    .lazy-side-by-side #next-btn:active,
    .lazy-side-by-side #prev-btn:hover,
    .lazy-side-by-side #prev-btn:active {
      border: 1px solid red;
    }
    .lazy-side-by-side .anchor {
      outline: none;
      box-shadow: none;
    }

    .lazy-side-by-side .anchor:focus-visible .call-to-action {
      box-shadow: none;
      outline: #639af9 inset 3px;
      outline-offset: 5px;
      visibility: visible;
      opacity: 1;
      background: 0 0;
      border: 1px solid #fff;
      color: #fff;
    }
  </style>
  <article
    class="lazy-side-by-side"
    data-enable-accessibility="true"
    aria-labelledby="title-RT5pCwH"
    aria-describedby="description-RT5pCwH cta-RT5pCwH"
  >
    <div class="container d-flex position-relative">
      <div
        class="overflow-hidden left-side position-relative d-flex"
        style="min-height: 275px; flex-direction: column"
      >
        <a
          aria-label="Shop the collection"
          href="#"
          style="line-height: 0; width: 100%"
        >
          <picture class="blur lozad-2025-01-25-load slide slide--first">
            <source
              data-srcset="/assets/images/banner/Frame_1_D.jpg"
              media="(min-width: 768px)"
              sizes="(min-width: 768px) 50vw, 100vw"
            />
            <source
              data-srcset="/assets/images/banner/Frame_1_M.jpg"
              media="(max-width: 767px)"
            />
            <img
              class="lozad-2025-01-25-load"
              src="/assets/images/banner/Frame_1_M_Placeholder_MIN.jpg"
              data-src="/assets/images/banner/Frame_1_M.jpg"
              alt="Your alt text"
              style="min-height: 275px; height: auto; width: 100%"
            />
            <noscript>
              <img
                src="/assets/images/banner/Frame_1_M.jpg"
                style="min-height: 275px; height: auto; width: 100%"
                loading="lazy"
                alt=""
              />
            </noscript>
          </picture>
          <picture class="slide hidden">
            <source
              srcset="/assets/images/banner/Frame_2_D.jpg"
              media="(min-width: 768px)"
              sizes="(min-width: 768px) 50vw, 100vw"
            />
            <img
              src="/assets/images/banner/Frame_2_M.jpg"
              style="min-height: 275px; height: auto; width: 100%"
              alt=""
            />
          </picture>
          <picture class="slide hidden">
            <source
              srcset="/assets/images/banner/Frame_3_D.jpg"
              media="(min-width: 768px)"
              sizes="(min-width: 768px) 50vw, 100vw"
            />
            <img
              src="/assets/images/banner/Frame_3_M.jpg"
              style="min-height: 275px; height: auto; width: 100%"
              alt=""
            />
          </picture>
          <picture class="slide hidden">
            <source
              srcset="/assets/images/banner/Frame_4_D.jpg"
              media="(min-width: 768px)"
              sizes="(min-width: 768px) 50vw, 100vw"
            />
            <img
              src="/assets/images/banner/Frame_4_M.jpg"
              style="min-height: 275px; height: auto; width: 100%"
              alt=""
            />
          </picture>
        </a>
        <div class="controls">
          <div
            class="d-flex position-absolute"
            style="width: 100%; justify-content: space-between; top: calc(50% - 60px); padding-left: 1rem; padding-right: 1rem"
          >
            <button id="prev-btn" aria-label="Previous slide"
              ><i class="caret caret--left position-absolute" aria-hidden="true"
              ></i></button
            >
            <button id="next-btn" aria-label="Next slide">
              <i class="caret caret--right position-absolute" aria-hidden="true"
              ></i>
            </button>
          </div>
          <div
            class="d-flex"
            style="flex-direction: row-reverse; align-items: center; background-color: #4d4d4d"
          >
            <button id="play-btn">
              <span>&#9654;</span>
            </button>
            <div class="control-buttons d-flex" style="gap: 5px">
              <button class="slide-btn">1</button>
              <button class="slide-btn">2</button>
              <button class="slide-btn">3</button>
              <button class="slide-btn">4</button>
            </div>
          </div>
        </div>
      </div>
      <a
        class="anchor right-side position-relative overflow-hidden"
        style="min-height: 275px;"
        href="#"
        aria-label="Shop the collections now"
      >
        <picture class="blur lozad-2025-01-25-load">
          <source
            data-srcset="/assets/images/banner/Frame_Background_D.jpg"
            media="(min-width: 768px)"
          />
          <source
            data-srcset="/assets/images/banner/Frame_Background_M.jpg"
            media="(max-width: 767px)"
          />
          <img
            class="lozad-2025-01-25-load"
            src="/assets/images/banner/Frame_Background_M_Placeholder_MIN.jpg"
            data-src="/assets/images/banner/Frame_Background_M.jpg"
            alt=""
            style="min-height: 275px; height: auto; width: 100%"
          />
          <noscript>
            <img
              src="/assets/images/banner/Frame_Background_M.jpg"
              alt=""
              style="min-height: 275px; height: auto; width: 100%"
            />
          </noscript>
        </picture>
        <div class="content d-flex position-absolute">
          <h2 class="headline" id="title-RT5pCwH">
            Be your<br />best self.
          </h2>
          <p class="copy" id="description-RT5pCwH">
            Dive in and see our collections<br />
            and pick up your faves from our lineups.
          </p>
          <span class="call-to-action" id="cta-RT5pCwH"> SHOP NOW </span>
        </div>
      </a>
    </div>
  </article>
  <script type="text/javascript" src="/assets/lib/lozad.min.js"></script>
  <script type="text/javascript" src="/assets/js/custom-slider-with-stop.js"
  ></script>
  <script type="text/javascript">
    (function () {
      const slider = new customSlider({
        targetClassName: ".lazy-side-by-side .slide",
      });

      const state = {
        observerFinished: false,
        sliderPaused: false,
        currentSlide: 0,
      };

      const slides = document.querySelectorAll(".lazy-side-by-side .slide");
      const playBtn = document.querySelector(".lazy-side-by-side #play-btn");
      const prevBtn = document.querySelector(".lazy-side-by-side #prev-btn");
      const nextBtn = document.querySelector(".lazy-side-by-side #next-btn");

      function showSlide(index) {
        slides.forEach((slide, i) => {
          slide.classList.toggle("hidden", i !== index);
        });
        state.currentSlide = index;
        pauseSlider();
      }

      function pauseSlider() {
        slider.stop();
        state.sliderPaused = true;
        playBtn.querySelector("span").innerHTML = "&#9654;";
      }

      function generateSlideButtons() {
        const slideBtns = document.querySelectorAll(
          ".lazy-side-by-side .slide-btn",
        );

        slides.forEach((_, index) => {
          const btn = slideBtns[index];
          btn.innerText = index + 1;
          btn.setAttribute("data-index", index);
          btn.addEventListener("click", function () {
            pauseSlider();

            btn.classList.add("active");

            slideBtns.forEach((slideBtn, index2) => {
              if (index !== index2) {
                slideBtn.classList.remove("active");
              }
            });

            showSlide(index);
          });
        });
      }

      function goToNextSlide() {
        pauseSlider();
        const nextIndex = (state.currentSlide + 1) % slides.length;
        showSlide(nextIndex);
      }

      function goToPrevSlide() {
        pauseSlider();
        const prevIndex =
          (state.currentSlide - 1 + slides.length) % slides.length;
        showSlide(prevIndex);
      }

      function togglePlayPause() {
        if (state.sliderPaused) {
          pauseSlider();
          slider.start();
          playBtn.querySelector("span").innerHTML = "&#9208;";
        } else {
          pauseSlider();
        }
        state.sliderPaused = !state.sliderPaused;
      }

      function initPlayButton() {
        playBtn.addEventListener("click", togglePlayPause);
        prevBtn.addEventListener("click", goToPrevSlide);
        nextBtn.addEventListener("click", goToNextSlide);
      }

      function initBanner() {
        if (!state.observerFinished) {
          const _lozad = lozad(".lozad-2025-01-25-load", {
            load: function (el) {
              if (el.nodeName === "IMG") {
                const sourceElements = el.parentNode.querySelectorAll("source");
                sourceElements.forEach((source) => {
                  source.srcset = source.dataset.srcset;
                });
                el.src = el.dataset.src;
              }
              el.onload = function () {
                el.parentNode.classList.add("no-blur");

                if (
                  el.parentNode.classList.contains("slide--first") &&
                  !state.observerFinished
                ) {
                  slider.start();
                  _lozad.observer.disconnect();
                  state.observerFinished = true;
                }
              };
            },
          });
          _lozad.observe();
        }
        initPlayButton();
        generateSlideButtons();
        showSlide(0);
      }

      if (
        document.readyState === "complete" ||
        document.readyState === "interactive"
      ) {
        initBanner();
      } else {
        document.addEventListener("DOMContentLoaded", initBanner);
      }
    })();
  </script>
</Layout>
