---
import Layout from '../../../../layouts/Layout.astro';
---
<style>
  body {
    margin: 0;
  }
</style>
<Layout title="Lazyloading Banner">
  <style>
    .lazyloading-banner,
    .lazyloading-banner * {
      box-sizing: border-box;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      text-align: center;
      color: #000;
    }
    .lazyloading-banner img {
      max-width: 100%;
    }
    .lazyloading-banner .d-flex {
      display: flex;
    }
    .lazyloading-banner .position-relative {
      position: relative;
    }
    .lazyloading-banner .hidden {
      display: none;
    }
    .lazyloading-banner .container {
      flex-direction: column;
      position: relative;
    }
    .lazyloading-banner .left-side,
    .lazyloading-banner .right-side {
      width: 100%;
    }
    .lazyloading-banner .content {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 1rem 15px;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .lazyloading-banner .headline {
      font-size: 30px;
      font-size: clamp(30px, 4vw, 48px);
      line-height: 1;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .lazyloading-banner .copy {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 14px;
      font-size: clamp(14px, 2vw, 1rem);
    }
    .lazyloading-banner .call-to-action {
      color: #fff;
      padding: 0.5rem 1.25rem;
      background: #000;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #000;
      transition: all 270ms;
    }
    .lazyloading-banner .call-to-action:-webkit-any-link {
      color: #fff;
      background: #000;
      text-decoration: none;
      border: 1px solid #000;
    }
    .lazyloading-banner .call-to-action:active,
    .lazyloading-banner .call-to-action:hover {
      background: transparent;
      border: 1px solid #000;
      color: #000;
    }
    .lazyloading-banner .call-to-action:active:-webkit-any-link,
    .lazyloading-banner .call-to-action:hover:-webkit-any-link {
      background: transparent;
      border: 1px solid #000;
      color: #000;
    }
    @media screen and (min-width: 768px) {
      .lazyloading-banner .call-to-action {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:-webkit-any-link {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:active,
      .lazyloading-banner .call-to-action:hover {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazyloading-banner .call-to-action:active:-webkit-any-link,
      .lazyloading-banner .call-to-action:hover:-webkit-any-link {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
      }
      .lazyloading-banner,
      .lazyloading-banner * {
        color: #fff;
      }
      .lazyloading-banner .container {
        flex-direction: row;
      }
      .lazyloading-banner .left-side,
      .lazyloading-banner .right-side {
        width: 50%;
      }
    }

    .lazyloading-banner .blur img {
      filter: blur(4px);
      transform: scale(1.025);
      transition: filter 200ms ease-out;
    }

    .lazyloading-banner .no-blur img {
      filter: blur(0);
      transform: scale(1);
    }
  </style>
  <article class="lazyloading-banner">
    <div class="container d-flex position-relative">
      <a class="left-side" aria-label="" href="#" style="overflow: hidden; line-height: 0; min-height: 275px">
        <picture class="blur slide lozad slide--first">
          <source
            data-srcset="/assets/images/banner/Frame_1_D.jpg"
            media="(min-width: 768px)"
          />
          <source
            data-srcset="/assets/images/banner/Frame_1_M.jpg"
            media="(max-width: 767px)"
          />
          <img
            src="/assets/images/banner/Frame_1_M_Placeholder_MIN.jpg"  
            data-src="/assets/images/banner/Frame_1_M.jpg"      
            data-srcset="/assets/images/banner/Frame_1_D.jpg" 
            alt="Your alt text"
            width="100%"
            height="275px"
            style="height: auto"
            class="lozad"
          />
          <noscript>
            <img
              src="/assets/images/banner/Frame_1_M.jpg"
            width="100%"
            height="275px"
            style="height: auto"
              alt=""
            />
          </noscript>
        </picture>
        <picture class="slide hidden">
          <source
            srcset="/assets/images/banner/Frame_2_D.jpg"
            media="(min-width: 768px)"
          />
          <img
            src="/assets/images/banner/Frame_2_M.jpg"
            width="100%"
            height="275px"
            style="height: auto"
            alt=""
          />
        </picture>
        <picture class="slide hidden">
          <source
            srcset="/assets/images/banner/Frame_3_D.jpg"
            media="(min-width: 768px)"
          />
          <img
            src="/assets/images/banner/Frame_3_M.jpg"
            width="100%"
            height="275px"
            style="height: auto"
            alt=""
          />
        </picture>
        <picture class="slide hidden">
          <source
            srcset="/assets/images/banner/Frame_4_D.jpg"
            media="(min-width: 768px)"
          />
          <img
            src="/assets/images/banner/Frame_4_M.jpg"
            width="100%"
            height="275px"
            style="height: auto"
            alt=""
          />
        </picture>
      </a>
      <div class="right-side position-relative">
        <picture class="blur lozad" style="min-height: 275px">
          <source
            data-srcset="/assets/images/banner/Frame_Background_D.jpg"
            media="(min-width: 768px)"
          />
        <source
            data-srcset="/assets/images/banner/Frame_Background_M.jpg"
            media="(max-width: 767px)"
          />
          <img
            src="/assets/images/banner/Frame_Background_M_Placeholder_MIN.jpg"  
            data-src="/assets/images/banner/Frame_Background_M.jpg"      
            data-srcset="/assets/images/banner/Frame_Background_D.jpg" 
            alt="Your alt text"
            width="100%"
            height="275px"
            style="height: auto"
            class="lozad"
          />
        </picture>
        <div class="content d-flex">
          <h2 class="headline">
            <a href="#" aria-label="" style="text-decoration: none">
              Be your<br />best self.
            </a>
          </h2>
          <p class="copy">
            Dive in and see our collections<br />
            and pick up your faves from our lineups.
          </p>
          <a class="call-to-action" href="#" aria-label="">
            SHOP NOW
          </a>
        </div>
      </div>
    </div>
  </article>
  <script type="text/javascript" src="/assets/lib/lozad.min.js"></script>
  <script type="text/javascript" src="/assets/js/custom-slider.js"></script>
  <script type="text/javascript">
    (function () {
      const test = lozad('.lozad', {
        load: function(el) {
          if (el.nodeName === 'IMG') {
            const sourceElements = el.parentNode.querySelectorAll('source');

            console.log("source elements: ", sourceElements);

            sourceElements.forEach(source => {
              source.srcset = source.dataset.srcset;
            });
            el.src = el.dataset.src;
          }
          el.onload = function() {
            el.parentNode.classList.add('no-blur');

            if (el.parentNode.classList.contains('slide--first')) {
                slider.start();
            }
          }
        }
      });
    
      var slider = new customSlider({
        targetClassName: ".lazyloading-banner .slide",
      });
      if (
        document.readyState === "complete" ||
        document.readyState === "interactive"
      ) {
        test.observe();
        return null;
      }
      document.addEventListener("DOMContentLoaded", function () {
        test.observe();
      });
    })();
  </script>
</Layout>